<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if text %}
<p style="font-size: large">Hey, {{ text }}, you like Kaizers Orchestra?</p>
<p style="font-size: large">Their early work was a little too plain for my taste. But when Maestro came out in '05, I think they really came into their own, commercially and artistically. The whole album has a clear, crisp sound, and a new sheen of consummate professionalism that really gives the songs a big boost. They've been compared to the Ramones, but I think Orchestra has a far more bitter, cynical sense of humor.</p>
    <img src="https://media.discordapp.net/attachments/1072940884510912532/1085593193069953115/patrick.png?width=419&height=419" alt="oops">
{% else %}
<p>no text? :(</p>
{% endif %}
</body>
</html>